# Capítulo 5 - pandas

---

In [1]:
import pandas as pd

##### 1. Carregue o dataset `paises.csv`. Em seguida, mostre:

a) quais os países da OCEANIA;

In [2]:
dataset = pd.read_csv('data/paises.csv', delimiter=';')
dataset.head()

,Country,Region,Population,Area (sq. mi.),Pop. Density (per sq. mi.),Coastline (coast/area ratio),Net migration,Infant mortality (per 1000 births),GDP ($ per capita),Literacy (%),Phones (per 1000),Arable (%),Crops (%),Other (%),Climate,Birthrate,Deathrate,Agriculture,Industry,Service
0,Afghanistan,ASIA (EX. NEAR EAST),31056997,647500,48.0,0.00,23.06,163.07,700,36.0,3.2,12.13,0.22,87.65,1.0,46.60,20.34,0.380,0.240,0.380
1,Albania,EASTERN EUROPE,3581655,28748,124.6,1.26,-4.93,21.52,4500,86.5,71.2,21.09,4.42,74.49,3.0,15.11,5.22,0.232,0.188,0.579
2,Algeria,NORTHERN AFRICA,32930091,2381740,13.8,0.04,-0.39,31.00,6000,70.0,78.1,3.22,0.25,96.53,1.0,17.14,4.61,0.101,0.600,0.298
3,American Samoa,OCEANIA,57794,199,290.4,58.29,-20.71,9.27,8000,97.0,259.5,10.00,15.00,75.00,2.0,22.46,3.27,0.000,0.000,0.000
4,Andorra,WESTERN EUROPE,71201,468,152.1,0.00,6.60,4.05,19000,100.0,497.2,2.22,0.00,97.78,3.0,8.71,6.25,0.000,0.000,0.000

In [3]:
data_1 = dataset['Country'].where(dataset['Region'].str.contains('OCEANIA')).dropna()
data_1

3            American Samoa
11                Australia
47             Cook Islands
67                     Fiji
71         French Polynesia
83                     Guam
108                Kiribati
130        Marshall Islands
136    Micronesia, Fed. St.
144                   Nauru
148           New Caledonia
149             New Zealand
153      N. Mariana Islands
157                   Palau
159        Papua New Guinea
176                   Samoa
187         Solomon Islands
203                   Tonga
209                  Tuvalu
217                 Vanuatu
221       Wallis and Futuna
Name: Country, dtype: object

b) quantos países são da OCEANIA;

In [4]:
print(len(data_1))

21

##### 2. Mostre a média da taxa de alfabetização (`Literacy (%)`) do planeta;

Dica: use do auxílo da função `mean()`;

In [5]:
data_2 = dataset['Literacy (%)'].mean()
data_2

76.2696035242291

##### 3. Encontre a região do país que possui maior população;

Dica: use do auxílo da função `max()`;

In [6]:
data_3 = dataset['Region'].where(dataset['Population'] == dataset['Population'].max()).dropna()
data_3.to_string().replace('  ', ' ')

'42  ASIA (EX. NEAR EAST)     '

##### 4. Busque o nome de todos os países do _dataset_ que não possuem costa marítima (`Coastline (coast/area ratio) == 0`) e guarde-os em um novo arquivo chamado `noCoast.csv`;

Dica: após realizar os filtros, use do auxílo da função `to_csv()`;

In [7]:
data_4 = dataset['Country'].where(dataset['Coastline (coast/area ratio)'] == 0).dropna()
data_4

0               Afghanistan
4                   Andorra
9                   Armenia
12                  Austria
13               Azerbaijan
18                  Belarus
23                   Bhutan
24                  Bolivia
26                 Botswana
31             Burkina Faso
33                  Burundi
39     Central African Rep.
40                     Chad
45         Congo, Dem. Rep.
53           Czech Republic
65                 Ethiopia
92                  Hungary
106              Kazakhstan
112              Kyrgyzstan
113                    Laos
116                 Lesotho
119           Liechtenstein
121              Luxembourg
123               Macedonia
125                  Malawi
128                    Mali
137                 Moldova
139                Mongolia
145                   Nepal
151                   Niger
160                Paraguay
170                  Rwanda
177              San Marino
181                  Serbia
185                Slovakia
194               Swaziland
196             Switzerland
199              Tajikistan
207            Turkmenistan
210                  Uganda
216              Uzbekistan
222               West Bank
225                  Zambia
226                Zimbabwe
Name: Country, dtype: object

In [8]:
data_4.to_csv('data/noCoast.csv', index=False)

##